In [1]:
import pandas as pd

In [ ]:
#회원가입 만들기
#1. id, pw, name 변수의 값을 저장하는 데이터 프레임을 만들기
#2. id, pw, name값을 받고, df데이터프레임에 저장하는 기능 구현
#3. id값을 찾아서 같은 id값이면 '같은 id가 있습니다.' 출력
#4. id값을 찾아서 그 row의 pw의 값을 변경하는 메서드 구현

In [56]:
global member
member = pd.DataFrame(columns=['id','pw', 'name'])

In [85]:
# 저장기능 + id중복 x
def mem_insert():
    mem_id=input('id : ')
    mem_pw=input('pw : ')
    mem_name=input('name : ')
    global member
    member.loc[len(member)] = [mem_id, mem_pw, mem_name]
    dup = member.duplicated(['id'])
    for i in dup:
        if i is True:
            print('id 중복입니다.')
            member=member.drop_duplicates(['id'],keep='first')
            break

# pw변경하기
def mem_pwChange(num1):
    global member
    member.loc[member.id == num1, ('pw')] = input('pw : ')

In [93]:
member

     id      pw    name
0   bbb    1234   wlgns
1   aaa    1233      지훈
2   abc    1335      훈지
3   adc    1112     지이훈
4  aaee  aersdf  jordon

In [92]:
mem_insert()

id :  aaee
pw :  aersdf
name :  jordon

In [80]:
#아래부턴 선생님코드
df = pd.DataFrame(index=range(0,0),columns=['id','pw', 'name'])

In [ ]:
def insertData():
    global df
    
    #input : 자바의 scanner 클래스와 동일, 사용자의 입력값을 키보드와 버퍼를 통해
    #데이터를 받아서 python 인터프리터에 저장
    input_id = input('id : ')
    input_pw = input('pw : ')
    input_name = input('name : ')
    
    #all() 값이 동일하게 존재하는지 확인 -> full equal
    #any() 값이 존재하는지
    print((df['id'] == input_id).any())
    
    if (df['id'] == input_id).any():
        print('id중복')
    else:
        print('id사용가능')
        df.loc[len(df)] = [input_id, input_pw, input_name]

def checkData(input_id) :
    global df
    if (df['id']==input_id).any():
        print('id중복')
    else:
        print('id사용가능')

def updateData(input_id):
    global df
    df.loc[df.id == input_id, ('pw')] = (input('바꿀 pw : '))

In [ ]:
#슬라이싱
#슬라이싱은 [시작지점(포함):끝나는 지점(미포함)]

In [90]:
print(member.iloc[:,:-2])

    id
0  bbb
1  aaa
2  abc
3  adc