In [1]:
print("hello world")

hello world

In [2]:
#자바 : 정적 타입_ 개발자가 타입을 명시함
#파이썬 : 동적 타입_ 메모리에 할당된 값을 보고 언어가 유추하여 타입 지정

name='황지훈'
print(name)

황지훈

In [6]:
class1 = "human 3class"
print(class1 + ' ' +name)

human 3class 황지훈

In [8]:
#import : 라이브러리 pandas를 가져다 쓰겠다
import pandas as pd # as = 별칭

#변수 : 변하는 수 <> 상수 : 변하지 않는 수
#dict_data 변수 할당
#키 값으로 이루어진 dictionary
dict_data={'a':1,'b':2,'c':3,'황지훈':'학생'} # a호출 1

#pd의 Series 메서드 실행 -> 인자값은(dict_data)
sr = pd.Series(dict_data)
print(type(sr))
print('\n')
print(sr)

<class 'pandas.core.series.Series'>


a       1
b       2
c       3
황지훈    학생
dtype: object

In [9]:
#참조타입 : 변수와 변수값을 연결하는 타입 <> 기본타입
#sr이라는 변수이름의 원래 데이터는 dict_data
list_data = ['2019-01-02',3.14,'ABC',100,True]
sr=pd.Series(list_data)
print(sr)

0    2019-01-02
1          3.14
2           ABC
3           100
4          True
dtype: object

In [12]:
#학생의 개인정보를 저장하는 딕셔너리 배열을 만들고
#(이름, id, pw, 성별)
#그중에 이름을 출력하는 print

#{}중괄호 : map (key, value)
# example = {'key':value}

#[]대괄호 : 배열
# example = [1, 2, 3, 4 ... ]
std = {'name':'aaa','id':'aaa','pw':'xxx','gender':'F'}

# 향상된 반복문
# 자바> for(String item : stringArray)
# 기본 반복문과 동일하나, 배열 처음부터 끝까지 모두 조회를 할 때 사용
# 파이썬> item in itemArray
if 'name' in std:
    print('나의 이름은 '+std['name'])
else:
    print('이름없음')

나의 이름은 xxx

In [15]:
#key이용
some_dict = {'june' : 12, 'hello' : 22, 'world':33}
print(some_dict.keys())
print()

for key in some_dict.keys():
    print(key, ':' , some_dict[key])

dict_keys(['june', 'hello', 'world'])

june : 12
hello : 22
world : 33

In [17]:
#items 이용
for key, value in some_dict.items():
    print(key, ':' , value)

june : 12
hello : 22
world : 33

In [22]:
#데이터 프레임
df = pd.DataFrame([[15,'남','덕영중'],[17,'여','수리중']],
                 index=['준서','예은'],
                 columns=['나이','성별','학교'])
print(df)
print()
print(df.index)
print()
print(df.columns)

    나이 성별   학교
준서  15  남  덕영중
예은  17  여  수리중

Index(['준서', '예은'], dtype='object')

Index(['나이', '성별', '학교'], dtype='object')

In [24]:
exam_data={'수학':[90, 80, 70],'영어':[98, 89, 95],'음악':[85, 95, 100],'체육':[100, 90, 90]}
df=pd.DataFrame(exam_data, index=['서준','우현','인아'])
print(df)
print()

df2=df[:]
df2.drop('우현',inplace=True)
print(df2)
print()

df3=df[:]
df3.drop(['우현','인아'],axis=0, inplace=True)
print(df3)

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

    수학  영어   음악   체육
서준  90  98   85  100
인아  70  95  100   90

    수학  영어  음악   체육
서준  90  98  85  100

C:\Users\h\AppData\Local\Temp\ipykernel_10392\1683253185.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.drop('우현',inplace=True)
C:\Users\h\AppData\Local\Temp\ipykernel_10392\1683253185.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3.drop(['우현','인아'],axis=0, inplace=True)

In [26]:
exam_data={'이름':['서준','우현','인아'],
           '수학':[90, 80, 70],
           '영어':[98, 89, 95],
           '음악':[85, 95, 100],
           '체육':[100, 90, 90]}
df=pd.DataFrame(exam_data)
print(df)
print()

df['국어']=80
print(df)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90

   이름  수학  영어   음악   체육  국어
0  서준  90  98   85  100  80
1  우현  80  89   95   90  80
2  인아  70  95  100   90  80

In [46]:
exam_data={'이름':['서준','우현','인아'],
           '수학':[90, 80, 70],
           '영어':[98, 89, 95],
           '음악':[85, 95, 100],
           '체육':[100, 90, 90]}
df=pd.DataFrame(exam_data)
print(df)
print()

#새로운 행 추가 - 같은 원소 값 입력
df.loc[3]=0
print(df)
#df.loc[len(df)]=['동규',90,80,70,60]
#자바는 고정, 가변 배열이 나누어진 반면 df[3]의 경우 고정배열로 한정된 메모리 범위 안에서 값을 추가
#df.add[3]의 경우 가변배열로 마지막 칸 이후에 추가적으로 값 추가

#반면 파이썬의 데이터프레임은 바로 배열 번호를 작성하면 자유롭게 추가 가능
print()

#새로운 행 추가 - 원소 값 여러 개의 배열 입력
df.loc[4] = ['동규',90,80,70,60]
print(df)
print()

#새로운 행 추가 - 기존 행 복사
df.loc['행5']=df.loc[3]
print(df)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90
3   0   0   0    0    0

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90
3   0   0   0    0    0
4  동규  90  80   70   60

    이름  수학  영어   음악   체육
0   서준  90  98   85  100
1   우현  80  89   95   90
2   인아  70  95  100   90
3    0   0   0    0    0
4   동규  90  80   70   60
행5   0   0   0    0    0

In [51]:
df.set_index('이름',inplace=True)
print(df)
print()

    수학  영어   음악  체육
이름
우현  80  89   95  90
인아  70  95  100  90
0    0   0    0   0
동규  90  80   70  60
0    0   0    0   0

In [31]:
df.iloc[1][3]=80
print(df)

    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   80
인아  70  95  100   90
0    0   0    0    0
동규  90  80   70   60
0    0   0    0    0

In [52]:
df.drop(0,inplace=True)

In [53]:
print(df)

    수학  영어   음악  체육
이름
우현  80  89   95  90
인아  70  95  100  90
동규  90  80   70  60

In [44]:
# df = df.transpose()
print(df)
#df = df.T : 클래스로 전치행렬
#파이썬은 메서드를 사용하여 데이터 처리하는 것이 암묵적 룰

<bound method DataFrame.transpose of     수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   80
인아  70  95  100   90
동규  90  80   70   60>

In [ ]:
#데이터프레임은 2중배열로 column과 row로 구성되어 있다

#df.loc[위치] : 튜플 추가
#drop : 튜플(row) 삭제
#set_index : 바꾸기
#transpose() : 행 렬 바꾸기

In [ ]:
#학생 회원의 정보를 담는 데이터프레임을 만들고
#추가하는 메서드, 삭제하는 메서드, 변경하는 메서드
#만들어서 활용하는 코드를 자유롭게 만드시오

#ex) 이름, 학번, 성별, 입학날짜, 기타사항..
#loc[length()],drop,set_index() 컬럼을(데이터 프레임)만들고 def메서드를 3개 만들어 실해나는 코드 작성
#SOLID원칙에서 하나의 메서드는 하나의 기능만 실행가능하게 만듬

In [149]:
std = pd.DataFrame(columns=['이름','학번', '성별', '입학날짜', '기타사항'])

In [152]:
def newStd(name,sc,gender,day,ex):
    # if(len(std)==0):
    #     std.loc[len(std)] = [name,sc, gender, day, ex]
    #     std.set_index('이름')
    # else:
    std.loc[len(std)] = [name,sc, gender, day, ex]

In [153]:
def delStd(name):
    std.drop(name,inplace=True)

In [156]:
print(std)
len(std)

    이름 학번 성별      입학날짜 기타사항
0  황지훈  1  남  20221011   없음

1

In [155]:
newStd('황지훈','1','남','20221011','없음')
print(std)

    이름 학번 성별      입학날짜 기타사항
0  황지훈  1  남  20221011   없음

In [159]:
print(std)

    이름 학번 성별      입학날짜 기타사항
0  황지훈  1  남  20221011   없음

In [158]:
std.drop(,inplace=True)

KeyError: "['황지훈'] not found in axis"

In [174]:
exam_data={'이름':['서준','우현','인아'],
           '수학':[90, 80, 70],
           '영어':[98, 89, 95],
           '음악':[85, 95, 100],
           '체육':[100, 90, 90]}
global df
df=pd.DataFrame(exam_data)

In [175]:
def funcInsert(name,num1,num2,num3,num4):
    global df
    df.loc[len(df)] = {name,num1,num2,num3,num4}
    #df.append(data_set, ignore_index=True)

In [176]:
def funcUpdate(name, num1, num2, num3,num4):
    global df
    df.loc[df.이름==name,('수학','영어','음악','체육')]

In [177]:
def funcDelete(name):
    global df
    df=df.loc[df.이름!=name]

In [178]:
df

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90

In [185]:
funcInsert('지훈',0,0,0,0)

ValueError: cannot set a row with mismatched columns