In [1]:
import pandas as pd

In [ ]:
#회원가입 만들기
#1. id, pw, name 변수의 값을 저장하는 데이터 프레임을 만들기
#2. id, pw, name값을 받고, df데이터프레임에 저장하는 기능 구현
#3. id값을 찾아서 같은 id값이면 '같은 id가 있습니다.' 출력
#4. id값을 찾아서 그 row의 pw의 값을 변경하는 메서드 구현

In [30]:
member = pd.DataFrame(columns=['id','pw', 'name'])

In [47]:
# 저장기능 + id중복 x
def mem_insert(num1, num2, num3):
    member.loc[len(member)] = [num1, num2, num3]
    dup = member.duplicated(['id'])
    for i in dup:
        if i is True:
            print('id 중복입니다.')
            member.drop_duplicates(['id'],keep='first')

In [48]:
mem_insert('bbb','1234','wlgns')

id 중복입니다.
id 중복입니다.
id 중복입니다.

In [49]:
member

    id    pw   name
0  bbb  1234  wlgns
1  bbb  1234  wlgns
2  bbb  1234  wlgns
3  bbb  1234  wlgns

In [40]:
dup = member.duplicated(['id'])
dup[1]

True

In [43]:
for i in dup:
    print(i)

False
True